// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.js-cookie-consent {
  position: absolute;
  top: 0px;
  padding: 10px;
  text-align: center;
  width: 100%;
  z-index: 9999;
  background-color: #1a1a1a;
  border-color: #fffacc;
  opacity: 0.8;
  border: solid 1px;
}

.cookie-consent__message {
  color: white;
}