body {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.9;
  color: #1a1a1a;
  text-align: left;
  background-color: #f5f5f5;
}
a {
  color: #262626;
  font-size: 0.9375rem;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #5068f2;
  text-decoration: underline;
}
b {
  color: #f2f2f2;
}
b:hover {
  color: #f2f2f2;
}
h1 {
  font-family: 'Open Sans';
  font-weight: 600 !important;
  color: #f2f2f2;
  font-size: 4rem;
}
h2{
  font-family: 'Open Sans';
  font-weight: 600 !important;
  color: #f2f2f2;
  font-size: 2rem;
}
h3{
  font-family: 'Open Sans';
  font-weight: 600 !important;
  color: #1f1f1f;
  font-size: 2rem;
}
h4,
h5,
h6 {
  font-family: 'Open Sans';
  font-weight: 600 !important;
  color: #f2f2f2;
}
th,
td {
  font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-family: 'Open Sans';
    font-weight: 600 !important;
    color: #f2f2f2;
    font-size: 8vw;
  }
  h2{
    font-family: 'Open Sans';
    font-weight: 600 !important;
    color: #f2f2f2;
    font-size: 4vw;
  }
  }

.thead {
  color: #000000;
}

.position {
  color: #3552f2;
}

.btn {
  font-size: 11px;
  padding: 8px 26px 6px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  border-radius: 2px;
  transition: 0.15s linear;
}

.btn,
button:focus {
  outline: none;
}

.btn-xl {
  text-transform: uppercase;
  padding: 10px 38px;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: rgb(0, 0, 0) !important;
}

.btn-pill {
  border-radius: 10rem;
}

.navbar-brand {
  display: inline-flex;
  align-items: center;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 600px) {
  .navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(0, 0, 0);
  }
  }



.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}

@media (min-width: 992px) {
  .navbar li {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

header.masthead {
  height: 75vh;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  /* background: linear-gradient(0deg, #e2e2e9 0%, #64a19d 100%); */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/img/fr.jpg');
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 1rem;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
    text-align: center;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
    text-align: center;
  }
}

.bg-primary {
  background-color: #3552f2 !important;
}

.btn-primary {
  background-color: #3552f2;
  border-color: #3552f2;
}

.btn-primary:active,
.btn-primary:focus {
  outline: none;
  box-shadow: none;
}
.btn-primary:hover {
  background-color: #253aac !important;
  border-color: #253aac !important;
}

.btn-secondary {
  background-color: #5068f2;
  border-color: #5068f2;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #253aac !important;
  border-color: #253aac !important;
}

.dropdown-item {
  font-size: 0.85rem;
  text-align: left;
}
.dropdown-item:hover {
  color: #5068f2 !important;
}
.dropdown-item:active {
  background-color: #f2f2f2;
}

@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu,
  .btn-group:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    margin-top: 0;
  }
  .dropdown-toggle {
    margin-bottom: 2px;
  }
  .navbar .dropdown-toggle,
  .nav-tabs .dropdown-toggle {
    margin-bottom: 0;
  }
}

.text-muted {
  font-size: 0.8rem;
  font-style: italic;
}

.contact_header {
  color: #f2f2f2;
  background-color: #262626;
  font-size: 1rem;
  font-weight: 300;
}

.display-4 {
  text-transform: uppercase;
}

/* Change this breakpoint if you change the breakpoint of the navbar */

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(-1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

#vatfrancelogo {
  width: 225px;
  margin-bottom: 4px;
  height: 100%;
}
@media (max-width: 768px) {
  #vatfrancelogo {
    margin-left: 10px;
  }
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}
