body {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.9;
  color: #1a1a1a;
  text-align: left;
}
a {
  color: #262626;
  font-size: 0.9375rem;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #5068f2;
  text-decoration: underline;
}
b {
  color: #f2f2f2;
}
b:hover {
  color: #f2f2f2;
}
h1 {
  font-family: 'Open Sans';
  font-weight: 600 !important;
  color: #f2f2f2;
  font-size: 2rem;
}
h2 {
  font-family: 'Open Sans';
  font-weight: 600 !important;
  color: #f2f2f2;
  font-size: 1.5rem;
}
h3 {
  font-family: 'Open Sans';
  font-weight: 600 !important;
  color: #1f1f1f;
  font-size: 2rem;
}
h4 {
  font-family: 'Open Sans';
  font-weight: 700 !important;
  color: #1f1f1f;
  font-size: 1rem;
}
h5 {
  font-weight: 250 !important;
  font-weight: 300 !important;
  font-size: 1rem;
  color: #f2f2f2;
}
h6 {
  font-family: 'Open Sans';
  font-weight: 600 !important;
  color: #f2f2f2;
}
th,
td {
  font-size: 0.8rem;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-family: 'Open Sans';
    font-weight: 600 !important;
    color: #f2f2f2;
    font-size: 8vw;
  }
  h2 {
    font-family: 'Open Sans';
    font-weight: 600 !important;
    color: #f2f2f2;
    font-size: 4vw;
  }
}

/* Avoid dropdown overflow */
.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.thead {
  color: #000000;
}

.table-borderless td,
.table-borderless th {
  border: 0;
}

.position {
  color: #000000;
}

.btn {
  font-size: 11px;
  padding: 8px 26px 6px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  border-radius: 2px;
  transition: 0.15s linear;
}

.btn,
button:focus {
  outline: none;
}

.btn-xl {
  text-transform: uppercase;
  padding: 10px 38px;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-dark {
  background-color: rgb(0, 0, 0) !important;
}

.bg-light {
  background-color: transparent !important;
}

.btn-pill {
  border-radius: 6rem;
}

.navbar-brand {
  display: inline-flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .bg-light {
    background-color: #f5f5f5 !important;
  }
  .card {
    margin-bottom: 1.5rem;
  }
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  display: block;
  padding: 0.5rem 0.5rem;
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
}

@media (min-width: 992px) {
  .navbar li {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

header.masthead {
  height: 75vh;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  /* background: linear-gradient(0deg, #e2e2e9 0%, #64a19d 100%); */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../media/img/lp/banner4_blurred.png');
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.animated_bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .animated_bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .animated_bg__video {
    width: 300%;
    left: -100%;
  }
}

.masthead-container {
  position:absolute;
  bottom: 50px;
}

h1.masthead-heading, h2.masthead-subheading {
  width: fit-content;
  background-size: 2px 2px;
  padding: 2px;
  background-image: /*linear-gradient(to right, rgba(192, 192, 192, 0.75), rgba(192, 192, 192, 0.75)),*/
  linear-gradient(to right, black 50%, rgba(255, 255, 255, 0)),
  linear-gradient(to bottom, black 50%, rgba(255, 255, 255, 0));
background-blend-mode: normal, difference, normal;
background-size: 2px 2px;

}

header.masthead-50 {
  height: 30vh;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  /* background: linear-gradient(0deg, #e2e2e9 0%, #64a19d 100%); */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../media/img/lp/banner4_blurred.png');
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 1rem;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 2rem;
    text-align: center;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 1rem;
    text-align: center;
  }
}

.bg-primary {
  background-color: #3552f2 !important;
}

.btn-primary {
  background-color: #3552f2;
  border-color: #3552f2;
  outline: 0;
}

.btn-primary:active,
.btn-primary:focus {
  outline: none;
  box-shadow: none;
  background-color: #253aac;
}
.btn-primary:hover {
  background-color: #253aac !important;
  border-color: #253aac !important;
}

.btn-secondary {
  background-color: #5068f2;
  border-color: #5068f2;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #253aac !important;
  border-color: #253aac !important;
}

.dropdown-item {
  font-size: 0.85rem;
  text-align: left;
  font-weight: 400;
  padding: 0.3rem 1rem;
}
.dropdown-item:hover {
  color: #5068f2 !important;
}
.dropdown-item:active {
  background-color: #f2f2f2;
}

/* Live map labels style */
.label {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.75rem;
  color: #75adff;
  background-color: transparent;
  border: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu,
  .btn-group:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    margin-top: 0;
  }
  .dropdown-toggle {
    margin-bottom: 2px;
  }
  .navbar .dropdown-toggle,
  .nav-tabs .dropdown-toggle {
    margin-bottom: 0;
  }
}

.text-muted {
  font-size: 0.8rem;
  font-style: italic;
}

.contact_header {
  color: #f2f2f2;
  background-color: #262626;
  font-size: 1rem;
  font-weight: 300;
}

.display-4 {
  text-transform: uppercase;
}

.leaflet-container {
  border-radius: 5px;
}

/* Change this breakpoint if you change the breakpoint of the navbar */

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(-1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* ATC PAGE */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../media/img/lp/cofrance.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100vh;
  padding: 100px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../media/img/lp/cofrance.png');
  background-repeat: no-repeat;
  background-position: left;
}

.container_ATC {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: #f2f2f2;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #3552f2;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #3552f2;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #3552f2 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #3552f2;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #f2f2f2;
}

.ATC_TEXT {
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #f2f2f2;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #3552f2;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #3552f2 transparent transparent;
  }
}

.formsearch {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

.inputsearch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.formsearch:hover {
  width: 200px;
  cursor: pointer;
}

.formsearch:hover input {
  display: block;
}

.formsearch:hover .fa {
  background: #07051a;
  color: white;
}

.chartcard {
  width: 70%;
  height: 100px;
  background: #fff;
  margin: 40px auto;
}

.chartcard h3 {
  font-size: 2.5vh !important;
  text-align: center;
  position: relative;
  top: 3vh;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.collapse{
  transition: max-height 0.2s ease-out;
}

.lol {
  color: yellow;
  font-size: 1rem;
}

.lol:hover {
  color: whatever;
  font-size: 1rem;
}